In [2]:
import pandas as pd

# Read the CSV file
aqi = pd.read_csv("annual_aqi_by_county_2023.csv")

# Filter for only the columns State, County, and Median AQI
filtered_aqi = aqi[["State", "County", "Median AQI"]]

filtered_aqi.to_csv("aqi_cleaned.csv")

# Display the filtered DataFrame
filtered_aqi.head()

     State   County  Median AQI
0  Alabama  Baldwin          43
1  Alabama     Clay          41
2  Alabama   DeKalb          48
3  Alabama   Elmore          38
4  Alabama   Etowah          51