In [18]:
import pandas as pd

airquality = pd.read_csv("annual_aqi_by_county_2023.csv")

incomes = pd.read_csv("LAPI 1124.csv")
incomes.head()

,State/County,Per capita personal income 2021,Per capita personal income 2022,Per capita personal income 2023,Rank in state 2023,Percent change 2022,Percent change 2023,Rank in state 2023.1
0,Alabama,"50,483","51,683","54,209",--,2.4,4.9,--
1,Autauga,"49,174","49,811","53,079",10,1.3,6.6,6
2,Baldwin,"56,285","57,621","60,969",4,2.4,5.8,12
3,Barbour,"40,954","41,031","41,531",56,0.2,1.2,58
4,Bibb,"37,362","38,196","39,835",64,2.2,4.3,35

In [10]:
duplicate_counts = incomes[incomes.duplicated(subset=[incomes.columns[0]], keep=False)]
value_counts = duplicate_counts[incomes.columns[0]].value_counts()
print(value_counts)

Table 1. Per Capita Personal Income, by County, 2021â€“2023
Washington    31
Jefferson     26
Franklin      25
Lincoln       24
Jackson       24
              ..
Davis          2
Emmet          2
Louisa         2
Lucas          2
Utah           2
Name: count, Length: 439, dtype: int64

In [19]:
state_names=["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]

incomes['state'] = None

current_state = None
for idx, row in incomes.iterrows():
    name = str(row[0]).strip()
    if name in state_names:
        current_state = name
        incomes.at[idx, 'state'] = current_state
    else:
        incomes.at[idx, 'state'] = current_state
incomes.head()

/var/folders/70/nplvvvvs69dcsdrp16h2_0l80000gn/T/ipykernel_64620/3669404198.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  name = str(row[0]).strip()

,State/County,Per capita personal income 2021,Per capita personal income 2022,Per capita personal income 2023,Rank in state 2023,Percent change 2022,Percent change 2023,Rank in state 2023.1,state
0,Alabama,"50,483","51,683","54,209",--,2.4,4.9,--,Alabama
1,Autauga,"49,174","49,811","53,079",10,1.3,6.6,6,Alabama
2,Baldwin,"56,285","57,621","60,969",4,2.4,5.8,12,Alabama
3,Barbour,"40,954","41,031","41,531",56,0.2,1.2,58,Alabama
4,Bibb,"37,362","38,196","39,835",64,2.2,4.3,35,Alabama

In [12]:
state_rows = incomes[incomes[incomes.columns[0]].isin(state_names)]
print(state_rows)

     Table 1. Per Capita Personal Income, by County, 2021â€“2023 Unnamed: 1  \
0                                               Alabama            50,483
65                                           Washington            44,306
69                                               Alaska            65,563
101                                             Arizona            56,976
118                                            Arkansas            52,845
...                                                 ...               ...
3116                                            Wyoming            34,494
3118                                          Wisconsin            60,465
3143                                               Iowa            58,159
3185                                         Washington            66,611
3192                                            Wyoming            70,973

     Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  Unnamed: 6 Unnamed: 7  \
0        51,683     54,209         --        2.4         4.9         --
65       45,502     46,859         29        2.7         3.0         46
69       69,015     71,611         --        5.3         3.8         --
101      58,968     62,543         --        3.5         6.1         --
118      55,323     57,635         --        4.7         4.2         --
...         ...        ...        ...        ...         ...        ...
3116     35,788     37,028         53        3.8         3.5         47
3118     61,992     64,976         --        2.5         4.8         --
3143     58,730     61,591         21        1.0         4.9         23
3185     69,370     73,187          5        4.1         5.5         13
3192     76,440     82,060         --        7.7         7.4         --

           state
0        Alabama
65    Washington
69        Alaska
101      Arizona
118     Arkansas
...          ...
3116     Wyoming
3118   Wisconsin
3143        Iowa
3185  Washington
3192     Wyoming

[109 rows x 9 columns]