In [ ]:
import pandas as pd

airquality = pd.read_csv("annual_aqi_by_county_2023.csv")

incomes = pd.read_csv("LAPI 1124.csv")
incomes = incomes.iloc[5:].reset_index(drop=True)
incomes.head()

,"Table 1. Per Capita Personal Income, by County, 2021–2023",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Alabama,"50,483","51,683","54,209",--,2.4,4.9,--
1,Autauga,"49,174","49,811","53,079",10,1.3,6.6,6
2,Baldwin,"56,285","57,621","60,969",4,2.4,5.8,12
3,Barbour,"40,954","41,031","41,531",56,0.2,1.2,58
4,Bibb,"37,362","38,196","39,835",64,2.2,4.3,35

In [10]:
duplicate_counts = incomes[incomes.duplicated(subset=[incomes.columns[0]], keep=False)]
value_counts = duplicate_counts[incomes.columns[0]].value_counts()
print(value_counts)

Table 1. Per Capita Personal Income, by County, 2021–2023
Washington    31
Jefferson     26
Franklin      25
Lincoln       24
Jackson       24
              ..
Davis          2
Emmet          2
Louisa         2
Lucas          2
Utah           2
Name: count, Length: 439, dtype: int64

In [ ]:
state_names=["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]