In [1]:
import pandas as pd

airquality = pd.read_csv("annual_aqi_by_county_2023.csv")

incomes = pd.read_csv("LAPI 1124.csv")
incomes.head()

,State/County,Per capita personal income 2021,Per capita personal income 2022,Per capita personal income 2023,Rank in state 2023,Percent change 2022,Percent change 2023,Rank in state 2023.1
0,Alabama,"50,483","51,683","54,209",--,2.4,4.9,--
1,Autauga,"49,174","49,811","53,079",10,1.3,6.6,6
2,Baldwin,"56,285","57,621","60,969",4,2.4,5.8,12
3,Barbour,"40,954","41,031","41,531",56,0.2,1.2,58
4,Bibb,"37,362","38,196","39,835",64,2.2,4.3,35

In [2]:
duplicate_counts = incomes[incomes.duplicated(subset=[incomes.columns[0]], keep=False)]
value_counts = duplicate_counts[incomes.columns[0]].value_counts()
print(value_counts)

State/County
Washington    31
Jefferson     26
Franklin      25
Lincoln       24
Jackson       24
              ..
Davis          2
Emmet          2
Louisa         2
Lucas          2
Utah           2
Name: count, Length: 439, dtype: int64

In [3]:
state_names=["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]

incomes['state'] = None
current_state = None
for idx, row in incomes.iterrows():
    name = str(row[0]).strip()
    if name in state_names:
        current_state = name
        incomes.at[idx, 'state'] = current_state
    else:
        incomes.at[idx, 'state'] = current_state

# Drop rows where the County column is a state name
incomes = incomes[~incomes['State/County'].isin(state_names)]
incomes.head()

/var/folders/70/nplvvvvs69dcsdrp16h2_0l80000gn/T/ipykernel_69144/3785498854.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  name = str(row[0]).strip()

,State/County,Per capita personal income 2021,Per capita personal income 2022,Per capita personal income 2023,Rank in state 2023,Percent change 2022,Percent change 2023,Rank in state 2023.1,state
1,Autauga,"49,174","49,811","53,079",10,1.3,6.6,6,Alabama
2,Baldwin,"56,285","57,621","60,969",4,2.4,5.8,12,Alabama
3,Barbour,"40,954","41,031","41,531",56,0.2,1.2,58,Alabama
4,Bibb,"37,362","38,196","39,835",64,2.2,4.3,35,Alabama
5,Blount,"42,975","44,063","45,021",38,2.5,2.2,52,Alabama

In [4]:
incomes.shape

incomes.columns = ['County', 'Drop1', 'Drop2', 'Income', 'Rank', 'Drop4', 'Drop5', 'Drop6', 'State']

incomes.drop(columns = ['Drop1', 'Drop2', 'Drop4', 'Drop5', 'Drop6', 'Rank'], inplace = True)
incomes.head()

/var/folders/70/nplvvvvs69dcsdrp16h2_0l80000gn/T/ipykernel_69144/3046593759.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incomes.drop(columns = ['Drop1', 'Drop2', 'Drop4', 'Drop5', 'Drop6', 'Rank'], inplace = True)

    County  Income    State
1  Autauga  53,079  Alabama
2  Baldwin  60,969  Alabama
3  Barbour  41,531  Alabama
4     Bibb  39,835  Alabama
5   Blount  45,021  Alabama

In [11]:
incomes = incomes.dropna(subset=['Income'])
print(incomes.isna().sum())

incomes['Income'] = incomes['Income'].str.replace(',', '').astype(int)
incomes.head()
incomes.to_csv("incomes_cleaned.csv")

County    0
Income    0
State     0
dtype: int64