In [ ]:
import pandas as pd

# Read only necessary columns
aqi = pd.read_csv("../data/cleaned/aqi_cleaned.csv", usecols=["State", "County", "Median AQI", "FIPS"])
income = pd.read_csv("../data/cleaned/incomes_cleaned.csv", usecols=["Income", "FIPS"])

# Drop rows where FIPS is missing in either dataset
aqi = aqi.dropna(subset=['FIPS'])
income = income.dropna(subset=['FIPS'])

# Merge on FIPS only, keeping only matching rows
merged = pd.merge(aqi, income, on="FIPS", how="inner")

# Preview result
merged.head()

     State   County  Median AQI    FIPS  Income
0  Alabama  Baldwin          43  1003.0   60969
1  Alabama     Clay          41  1027.0   39082
2  Alabama   DeKalb          48  1049.0   41750
3  Alabama   Elmore          38  1051.0   51950
4  Alabama   Etowah          51  1055.0   45062

In [8]:
merged.to_csv("../data/cleaned/full_dataset.csv")